.property-card {
  border: 1px solid #ccc;
  width: 25%;
  max-height: 350px;
  display: inline-block;
  justify-content: start;
  border-radius: 8px;
  padding: 16px;
  margin: 15px;
  margin-left: 20px;
  cursor: pointer;
  transition: transform 0.2s;
  vertical-align: top;
}

.property-card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  min-height: 250px;
  border-radius: 5px;
}

.tabs{
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 16px;
}

.tab {
  margin: 0 10px;
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tab.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}
